<div class="box_title">
    <div class="closer"><img src="static/image/cross.gif" onclick="close_float_box()" /></div>
    <div>选择帐本</div>
</div>
<div class="box_container">
<form >
	<div>
    <?php foreach($books as $book):?>
		<input type="radio" name="s_bookid" value="<?=$book['bookid']?>" <?php if($item['bookid']==$book['bookid']): ?> checked="1" <?php endif;?> tt="<?=$book['title']?>" />
		 <?=$book['title']?>&nbsp;&nbsp;
		
	<?php endforeach;?>
	</div>
    <div>
        <input type="button" value="保存" id='savebook' />
        <input type="button" value="关闭" onclick="close_float_box()" />
    </div>
</form>
</div>
<script language="javascript">
$('savebook').addEvent('click',function(){
	$('bookid').set('value',$$('input[name^="s_bookid"]:checked').get('value'));
	$('book_txt').set('text',$$('input[name^="s_bookid"]:checked').get('tt'));
	close_float_box()
})

</script>