<div class="box_title">
    <div class="closer"><img src="static/image/cross.gif" onclick="close_float_box()" /></div>
    <div>新建餐厅</div>
</div>
<div class="box_container">
<form action="?m=menu&a=save_res" id="saveitem" method="post">
    <table>
        <tr><th>餐厅名</th><td><input type="text" name="title" size="40" value=""></td></tr>
		<tr><th>电话</th><td><input type="text" name="tel" size="40" value=""></td></tr>
		<tr><th>地址</th><td><input type="text" name="addr" size="40" value=""></td></tr>
	    <tr><th>老板</th><td><input type="text" name="boss" size="40" value=""></td></tr>	
        <tr><th>备注</th><td>
            <textarea name="mark" rows="6" cols="80"><?=$item['mark']?></textarea>
        </td></tr>
        <tr><th></th><td></td></tr>
    </table>

    <div>
        <input type="button" value="保存" onclick="send_form_pop('saveitem')" />
        <input type="button" value="关闭" onclick="close_float_box()" />
    </div>
</form>
</div>
